.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
  margin: auto;
}

.App-title {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

.image-container {
  padding-bottom: 100px;
}

.basic-text {
  font-family: 'Raleway', sans-serif;
}

.toggle {
  padding-top: 100px;
  margin: auto;
  width: 10%;
}
