.image-view {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.selected-image {
  max-width:100%;
  height: 250px;
}

.dropzone {
  margin: 20px;
  height: 100%;
}
